.upload-box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 50%;
    height:50% ;/* Adjust as needed */
   
  }
  .ui{
    display: flex;
    align-items: center;justify-content: center;
  }
  .ui2{
    display: flex;
    align-items: center;justify-content: center;
  }
  .image-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 300px; /* Limit the height to prevent large images from overflowing */
  }