<div class="card">
    <div class="card-body">
      <div class="icon-container">
        <img src="../../assets/glucosemeter.png" alt="diabetes icon"  data-toggle="tooltip" title="diabetes">
        <span class="icon-text">Diabetes</span>
      </div>
      <div class="icon-container">
        <img src="../../assets/kidneys.png " alt="kidney disease icon"  data-toggle="tooltip" title="Kidney">
        <span class="icon-text">Chronic kidney disease</span>
      </div>
      <div class="icon-container">
        <img src="../../assets/liver.png " alt="liver disease icon"  data-toggle="tooltip" title="liver">
        <span class="icon-text">Liver disease</span>
      </div>
      <div class="icon-container">
        <img src="../../assets/liver.png " alt="liver disease icon"  data-toggle="tooltip" title="liver">
        <span class="icon-text">Liver disease</span>
      </div>
      <!-- <div class="icon-container" *ngIf="!isAdmin()">
        <img src="../../../assets/markout.png" alt="mark out icon" (click)="markout()" data-toggle="tooltip" title="Mark Out">
        <span class="icon-text">Mark Out</span>
      </div>
      <div class="icon-container" *ngIf="isEMP()">
        <img src="../../../assets/leave.png" alt="personal leave icon" (click)="personalleave()" data-toggle="tooltip" title="personal leave">
        <span class="icon-text">Leave updates</span>
      </div>
      <div class="icon-container" *ngIf="isAdmin()">
        <img id="listofleaves" src="../../../assets/listofleave.png" alt="list of leave icon" (click)="listofleaves()" data-toggle="tooltip" title="listof_leave">
        <span class="icon-text">List of leaves</span>
      </div>
      <div class="icon-container" *ngIf="isAdmin()">
        <img id="listofleaves" src="../../../assets/immigration.png" alt="list of attendance icon" (click)="listofattendance()" data-toggle="tooltip" title="listof_leave">
        <span class="icon-text">List of Attendance</span>
      </div>
      <div class="icon-container" *ngIf="isAdmin()">
        <img id="register" src="../../../assets/pen.png" alt="register icon" (click)="register()" data-toggle="tooltip" title="register">
        <span class="icon-text">Register Employee</span>
      </div>
      <div class="icon-container" *ngIf="isAdmin()">
        <img src="../../../assets/file.png" alt="upload details icon" (click)="empdetailsupload()" data-toggle="tooltip" title="personal leave">
        <span class="icon-text">Banking credentials</span>
      </div>
      <div class="icon-container" *ngIf="isAdmin()">
        <img id="listofleaves" src="../../../assets/staff.png" alt="list of emp icon" (click)="listofemployees()" data-toggle="tooltip" title="listof_emp">
        <span class="icon-text">List of Employees</span>
      </div> -->
      
    </div>

  